html,
body {
  padding: 15px;
  background-color: #0a0a0a;
  color: #fafafa;
  font-family: monospace;
  overflow: hidden;
}
a {
  color: aliceblue;
}
button {
  border: 15px;
  background: whitesmoke;
  font-size: 8vw;
}
h1 {
  font-size: 8vw;
}
pre{
	overflow: scroll;
	max-height: 8vh;
  background-color: #0a0a0a;
  color: #00ff00;
}